<!-- 以下代码为代码生成器生成，生成时间: 2018-08-16 10:21:17，作者：billjiang/475572229@qq.com-->
<section class="content-header">
    <h1>
        客户管理管理
        <small>列表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="${basePath}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">packmall</a></li>
        <li class="active">客户管理管理</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="dataTables_filter" id="searchDiv" style="display: none">
                    <!--查询条件-->
                    <input type="search" placeholder="请输入编码" title="编码" name="clientCode"
                                           class="form-control" id="clientCode" operator="like" likeOption="true">
                    <input type="search" placeholder="请输入姓名/企业名称" title="姓名/企业名称" name="clientName"
                                           class="form-control" id="clientName" operator="like" likeOption="true">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-btn-type="search">查询</button>
                    </div>
                </div>
                <div class="box-body">
                    <table id="client_table" class="table table-bordered table-striped table-hover">
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var clientTable, winId = "clientWin";
    $(function (){
        clientTable = new CommonTable("client_table", "packmall_client", "searchDiv", null);
        //绑定按钮事件
        $("button[data-btn-type]").click(function () {
            var action = $(this).data("btn-type");
            var rowId = clientTable.getSelectedRowId();
            switch (action) {
                case "add":
                    modals.openWin({
                        winId: winId,
                        title: '新增客户管理',
                        width: "900px",
                        url: basePath + "/client/edit"
                    })
                    break;
                case "edit":
                    if (!rowId) {
                        modals.info('请选择要编辑的行');
                        return false;
                    }
                    modals.openWin({
                        winId: winId,
                        title: '编辑客户管理【' + clientTable.getSelectedRowData().name + '】',
                        width: '900px',
                        url: basePath + "/client/edit?id=" + rowId
                    });
                    break;
                case 'delete':
                    if (!rowId) {
                        modals.info('请选择要删除的行');
                        return false;
                    }
                    modals.confirm("是否要删除该行数据？", function () {
                        ajaxPost(basePath + "/client/delete/" + rowId, null, function (data) {
                            if (data.success) {
                                clientTable.reloadRowData();
                            } else {
                                modals.info("客户管理数据被引用，不可删除！");
                            }
                        });
                    })
                    break;
            }
        })
    });

    //操作html替换
    function deletedFn(value, type, rowObj,oSetting) {
        if (value.indexOf("开启")>0) {
            return value.replace("开启","禁用");
        } else {
            return value.replace("禁用","开启");
        }
        return value;
    }
    //收货地址html 替换
    function  changeLook(value, type, rowObj,oSetting) {
        var str = value.match(/>(\S*)</)[1];
        str = ">"+str+"<";
        value = value.replace(str,">查看<");
        return value;
    }

   //开启禁用操作
    function banOrstar(id,thes){
        $thes = $(thes);
        var name = $thes.text();
        if(name=="开启"){
            modals.confirm('确定开启该客户',function(){
                ajaxPost(basePath + "/packmall/client/updateDeleted" , {"id":id}, function (data) {
                    if (data==true) {
                        $thes.text("禁用");
                        $thes.parent("td").prev().text("开启");
                        modals.info("操作成功！");
                    } else {
                        modals.info("操作失败！");
                    }
                });
            });
        }else if(name=="禁用"){
            modals.confirm('确定禁用该客户',function(){
                ajaxPost(basePath + "/packmall/client/updateDeleted" , {"id":id}, function (data) {
                    if (data==true) {
                        $thes.text("开启");
                        $thes.parent("td").prev().text("禁用");
                        modals.info("操作成功！");
                    } else {
                        modals.info("操作失败！");
                    }
                });
            });
        }
    }
</script>