
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table id="shippingaddress_table" class="table table-bordered table-striped table-hover">
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var shippingaddressTable, winId = "shippingaddressWin";
    var clientId = '${clientId}';
    $(function (){
        alert(clientId);
        shippingaddressTable = new CommonTable("shippingaddress_table", "packmall_shipping_address", "searchDiv", null);
        //绑定按钮事件
        $("button[data-btn-type]").click(function () {
            var action = $(this).data("btn-type");
            var rowId = shippingaddressTable.getSelectedRowId();
            switch (action) {
                case "add":
                    modals.openWin({
                        winId: winId,
                        title: '新增收货地址',
                        width: "900px",
                        url: basePath + "/shippingaddress/edit"
                    })
                    break;
                case "edit":
                    if (!rowId) {
                        modals.info('请选择要编辑的行');
                        return false;
                    }
                    modals.openWin({
                        winId: winId,
                        title: '编辑收货地址【' + shippingaddressTable.getSelectedRowData().name + '】',
                        width: '900px',
                        url: basePath + "/shippingaddress/edit?id=" + rowId
                    });
                    break;
                case 'delete':
                    if (!rowId) {
                        modals.info('请选择要删除的行');
                        return false;
                    }
                    modals.confirm("是否要删除该行数据？", function () {
                        ajaxPost(basePath + "/shippingaddress/delete/" + rowId, null, function (data) {
                            if (data.success) {
                                shippingaddressTable.reloadRowData();
                            } else {
                                modals.info("收货地址数据被引用，不可删除！");
                            }
                        });
                    })
                    break;
            }
        })
    })
</script>