
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div style="height: 70px;">
                        <span style="font-size: 20px;">默认收货地址</span>
                        <div id="addressDefaultDiv" style="font-size: 15px;"></div>
                    </div>
                    <div>
                        <span style="font-size: 20px;">其他收货地址</span>
                        <div id="addressOthers"  style="font-size: 15px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var clientId = '${clientId}';
    $(function (){
        if(clientId){
            ajaxPost(basePath + "/packmall/shippingaddress/getByClientId",{"clientId":clientId}, function (data) {
                if (data.list)  {
                    $.each(data.list,function(){
                        debugger;
                        if(this[0]==1){
                           $("#addressDefaultDiv").append("<br><span>"+this[1]+"-"+this[3]+"-"+this[4]+this[2]);
                        }else if(list[i].shippingDefault==2){
                            $("#addressDefaultDiv").append("<br><span>"+this[1]+"-"+this[3]+"-"+this[4]+this[2]);

                        }
                    });
                }else {
                    modals.info("还没有添加收货地址！");
                }
            });
        }
    })
</script>