
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div style="height: 70px;">
                        <span style="font-size: 20px;">默认收货地址</span>
                        <div id="addressDefaultDiv" style="font-size: 15px;"></div>
                    </div>
                    <div>
                        <span style="font-size: 20px;">其他收货地址</span>
                        <div id="addressOthers"  style="font-size: 15px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var openId = '${openId}';
    $(function (){
        if(openId){
            ajaxPost(basePath + "/packmall/shippingaddress/getByClientOpenId",{"openId":openId}, function (data) {
                if (data.data)  {
                    $.each(data.data,function(){
                        if(this.shippingDefault==1){
                           $("#addressDefaultDiv").append("<br><span>"+this.shippingName+"-"+this.shippingPhone+"-"+this.areaCode+this.shippingAddress);
                        }else if(this.shippingDefault==2){
                            $("#addressDefaultDiv").append("<br><span>"+this.shippingName+"-"+this.shippingPhone+"-"+this.areaCode+this.shippingAddress);
                        }
                    });
                }else {
                    modals.info("还没有添加收货地址！");
                }
            });
        }
    })
</script>