/.settings
/.project
/AdminEAP-framework/target
/AdminEAP-framework/.classpath
/AdminEAP-framework/.project
/AdminEAP-framework/.settings
/AdminEAP-web/.settings
/AdminEAP-web/.classpath
/AdminEAP-web/.project
/AdminEAP-web/target
/AdminEAP-framework/bin
/AdminEAP-web/bin
