.idea/*
target/*
.settings/*
AdminEAP.iml
AdminEAP.iws
/target/

*.class
out/*
.svn
*.svn
*.svn/*


.gitignore.bak
AdminEAP-framework/target/*
AdminEAP-web/target/*
.gitignore.bak
/.project
.settings
/AdminEAP-web/.project
/AdminEAP-web/.settings
/AdminEAP-web/target
/AdminEAP-web/.classpath
/AdminEAP-framework/.project
/AdminEAP-framework/.settings
/AdminEAP-framework/target
/AdminEAP-framework/.classpath
/.tgitconfig
