<!-- 以下代码为代码生成器生成，生成时间: 2018-08-16 14:37:42，作者：billjiang/475572229@qq.com-->

<style type="text/css">
    .table.dataTable thead > tr > th{ white-space: nowrap;}
    .dataTables_wrapper .col-sm-12{overflow-x:auto;}
</style>
<section class="content-header">
    <h1>
        发票管理（增普）管理
        <small>列表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="${basePath}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">packmall</a></li>
        <li class="active">发票管理（增普）</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="dataTables_filter" id="searchDiv" style="display: none">
                    <!--查询条件-->
                    <input type="search" placeholder="请输入invoice编码" title="invoice编码" name="invoiceCode"
                                           class="form-control" id="invoiceCode" operator="like" likeOption="true">
                    <input type="search" placeholder="请输入抬头类型" title="抬头类型" name="taxpayerType"
                                           class="form-control" id="taxpayerType" operator="like" likeOption="true">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-btn-type="search">查询</button>
                    </div>
                </div>
                <div class="box-body">
                    <table id="invoicenormal_table" class="table table-bordered table-striped table-hover">
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var invoicenormalTable, winId = "invoicenormalWin";
    $(function (){
        invoicenormalTable = new CommonTable("invoicenormal_table", "packmall_invoice_normal", "searchDiv", null);
        //绑定按钮事件
        $("button[data-btn-type]").click(function () {
            var action = $(this).data("btn-type");
            var rowId = invoicenormalTable.getSelectedRowId();
            switch (action) {
                case "add":
                    modals.openWin({
                        winId: winId,
                        title: '新增发票管理（增普）',
                        width: "900px",
                        url: basePath + "/invoicenormal/edit"
                    })
                    break;
                case "edit":
                    if (!rowId) {
                        modals.info('请选择要编辑的行');
                        return false;
                    }
                    modals.openWin({
                        winId: winId,
                        title: '编辑发票管理（增普）【' + invoicenormalTable.getSelectedRowData().name + '】',
                        width: '900px',
                        url: basePath + "/invoicenormal/edit?id=" + rowId
                    });
                    break;
                case 'delete':
                    if (!rowId) {
                        modals.info('请选择要删除的行');
                        return false;
                    }
                    modals.confirm("是否要删除该行数据？", function () {
                        ajaxPost(basePath + "/invoicenormal/delete/" + rowId, null, function (data) {
                            if (data.success) {
                                invoicenormalTable.reloadRowData();
                            } else {
                                modals.info("发票管理（增普）数据被引用，不可删除！");
                            }
                        });
                    })
                    break;
            }
        })
    })


    //收货地址html 替换
    function  changeLook(value, type, rowObj,oSetting) {
        if(rowObj.invoiceStatus=="未邮寄"){
            var str = value.match(/>(\S*)</)[1];
            str = ">"+str+"<";
            value = value.replace(str,">变更<");
            return value;
        }else  if(rowObj.invoiceStatus=="已邮寄"){
            value = "变更";
            return value;
        }

    }
    var $thes;

    /**
     * 点击变更操作
     * @param invoiceId
     * @param thes
     */
    function clickChange(invoiceId,thes){
        $thes = $(thes);
        debugger;
        modals.openWin({
            winId:'INVOICENORMALSTATUSCHANGE',
            title:'状态变更',
            width:'900px',
            url:basePath+"/packmall/invoicenormal/toStatusChange?invoiceId="+invoiceId
        });
    }

    //收货地址html 替换
    function  shippingAddressChange(value, type, rowObj,oSetting) {
        return rowObj.sysArea.mergerName+"-"+value;
    }

    function changeStatusAfter(invoiceMark,invoiceNo,courierNo){
        $thes.text("变更");
        $thes.parent("td").prev().text("已邮寄");
        $thes.parent("td").prev().prev().text(courierNo);
        $thes.parent("td").prev().prev().prev().text(invoiceNo);
        $thes.parent("td").prev().prev().prev().prev().text(invoiceMark);

    }
</script>